{% extends "base.html" %}
{% block content %}
<script src="/static/js/d3.v3.min.js"></script>
<script>
$(document).ready(function(){
	var data = {{results|safe}}
 
  var yscale = d3.scale.linear()
        .domain([d3.min(data,function(d){return d[1]}),d3.max(data, function(d){return d[1]})])
        .range([400,1200])
        .nice();

  var w = 960,
      h = 500

  var vis = d3.select("div.svg-container").append("svg")
      .attr("width", w)
      .attr("height", h);

  var force = d3.layout.force()
    .nodes(data)
    .links([])
    .size([w, h])
    .gravity(0.01)
    .charge(-50)
    .start();

  var node = vis.selectAll("g.node")
    .data(force.nodes()) 
    .enter().append("svg:g")
    .attr("class", "node")
    .attr("transform", function(d, i) {
      x = d.x
      y = d.y
      return "translate(" + x + "," + y + ")"; 
    })
    .call(force.drag)  

  node.append("circle")
        .transition().duration(1000)
        .attr("class", "node")
        .style('fill', 'skyblue')
        //.attr('stroke', 'black')
        .attr("r", function(d){
          return Math.sqrt(yscale(d[1]));
        });
  
  // Add a text element to the previously added g element.
  node.append("text")
       .attr("text-anchor","middle")
       //.attr("transform", 'translate(0,-18)')
       .attr('fill','black')
       .text(function(d) {
         return d[0]+": "+d[1];
       });

  vis.style("opacity", 1e-6)
    .transition()
      .duration(1000)
      .style("opacity", 1);

  force.on("tick", function(e) {
    // Push different nodes in different directions for clustering.
    // var k = 6 * e.alpha;
    // nodes.forEach(function(o, i) {
    //   o.y += i & 1 ? k : -k;
    //   o.x += i & 2 ? k : -k;
    // });
    node.attr("transform", function(d) {
          return "translate("+d.x+","+d.y+")";
        });
  });
});
</script>



<style>
div.svg-container {
    height: 500px;
    width: 950px;
    
}
</style>
<div class="span8 offset5">
  <div class="svg-container"></div>
<div>

{% endblock %}


