<!DOCTYPE html>
<html>
<head>
	<script src="/static/js/jquery-2.0.2.min.js"></script>
	<script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
  <script src="/static/js/d3.v3.min.js"></script>
  <script src="/static/js/superformula.js"></script>
  <script src="/static/js/queue.v1.min.js"></script>
  <script src="/static/css/google-code-prettify/prettify.js"></script>
  <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/static/css/google-code-prettify/prettify.css">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
<title>&#x32E1;</title> <!-- ●_● -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-image: url("/static/images/pattern-b503.png");
        font-family: "Brush Script MT", cursive;
        font-size: 2em;
      }
</style>
</head>
<script>
  !function ($) {
    $(function(){
      window.prettyPrint && prettyPrint()
    })
  }(window.jQuery)
</script>
<body>
	{% include "navbar.html" %}
	{% block content %}
	{% endblock %}
</body>
</html>