{% extends "base.html" %}
{% block content %}
<script src="/static/js/grond.js">
</script>

<style>
  .svg-container-img svg {
    margin-right: 5px;
    border: 1px solid black;
  }

</style>
<!-- 
<div class="page-header">
Page-header
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="svg-container-img" data-name="g"></div>
      <div class="svg-container-img" data-name="r"></div>
      <div class="svg-container-img" data-name="i"></div>    
      <div class="svg-container-img" data-name="z"></div>
      <div class="svg-container-img" data-name="J"></div>
      <div class="svg-container-img" data-name="H"></div>
      <div class="svg-container-img" data-name="K"></div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-12">
        <div class="svg-container-sed"></div>
    </div>
  </div>

</div>
{% endblock %}