{% extends "base.html" %}
{% block content %}
<style>
  .h2 {
    font-size: 2em;
  }
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  .summary {
      overflow: hidden;
  }
  .summary-image.pull-left {
      margin-right: 40px;
  }
  /* Carousel base class */
  .carousel {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    /*height: 500px;*/
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="h2">Vladimir Sudilovsky</span>
    </div>
  </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/images/fox3.jpg" alt="">
    </div>

    <div class="item">
      <img src="/static/images/xmas_tree3.jpg" alt="">
    </div>
    
    <div class="item">
      <img src="/static/images/signpost3.jpg" alt="">
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- /.carousel -->

<div class="container">
  <div class="summary">
    <div class="h2 summary-heading">
        About me
    </div>
    <div class="lead">
      <img class="summary-image img-square img-responsive pull-left" src="/static/images/vss_photo.jpg" style="width:200px;"></img>
      I'm a software developer currently writing and deploying code for the <a href="http://labs.adsabs.harvard.edu/adsabs/">NASA-ADS</a>. I received my doctorate in astrophysics from the Max Planck Institute near Munich, Germany. I've been involved with a wide variety of projects, including automating telescopes, data analysis pipelines, and abstracting/containerizing deployments and workflows. 
      <br><br>
      Besides technology, I am enthusiastic about Ultimate Frisbee, hiking, cycling, traveling, and classical music.
    </div>
  </div>
</div>

<script>
  $(function(){
    // carousel demo
    $('#myCarousel').carousel({interval:3500})
  })
</script>
{% endblock %}