{% extends "base.html" %}
{% block content %}
<script src="/static/js/mgii.js"></script>
<style>
  /* button.btn-info{
      height:50px;
      width:280px;
   }*/
   span.number-header{
      font-weight: bold;
      color:black;
   }

   .collapse-text {
    width:45%;
    float:left;
    margin-right: 10px;
    display: inline-block;
   }


   #svg-container {
    width:45%;
    display: inline-block;
   }

   ._2_grbspec {
    width:49%;
    display: inline-block;
   }

   ._2_qsospec {
    width:49%;
    display: inline-block;
   }

   .grb-axis path,
   .grb-axis line {
    stroke:yellow;
    fill:none;
    stroke-width: 1px;
   }

   .qso-axis path,
   .qso-axis line {
    stroke:#22AFF5;
    fill:none;
    stroke-width: 1px;
   }

   .dndz-axis path,
   .dndz-axis line {
    stroke:white;
    fill:none;
    stroke-width: 1px;
   }


   .axis text {
    display: none;
   }

   .accordion {
    margin-top:20px;
   }

</style>

<div class="page-header">
  <p style="margin-left:30%" class="muted">My research involving Magnesium -- Click each section to get more info</p>
</div>

<div id="accordion" class="accordion container">
    <div class="panel col-sm-8">
     <button type="button" class="btn btn-info _1" data-toggle="collapse" data-target="#_1" data-parent="#accordion">
        <span class="number-header">1.</span> The universe is filed with gas from stars
     </button>
      <div id="_1" class="collapse" style="margin-top:20px;">
        <div class="collapse-text">
          <p>
            During a star's <a href="http://en.wikipedia.org/wiki/Stellar_wind">lifetime</a> and <a href="http://en.wikipedia.org/wiki/Supernova">death</a>, it ejects gases. The gases from many stars accumulate in their host galaxy. From measurements of these such gases, we can construct a picture about the composition of even distant galaxies. These gases are a fossil record of a galaxy's history.
          </p>
          <p style="margin-top:10px;">
            One important gas is MgII, which is singly ionized magnesium. Magnesium is produced in abundance by <a href="http://en.wikipedia.org/wiki/Alpha_process">nuclear reactions</a> taking place in stars. A detection of MgII suggests the presence of nearby galaxies.
          </p>
        </div>
        
        <div id="svg-container" class="_1">
        </div>

      </div>
    </div>


    <div class="panel col-sm-8">
     <button type="button" class="btn btn-info _2" data-toggle="collapse" data-target="#_2" data-parent="#accordion">
        <span class="number-header">2.</span> To study the distant universe, we need to be able to see this gas
     </button>
      <div id="_2" class="collapse" style="margin-top:20px;">
        <div class="collapse-text">
          <p style="margin-top:10px">
            We can learn a lot about any astronomical object by measuring its spectrum -- that is, measuring its colors. Stars, <a href="http://en.wikipedia.org/wiki/Quasar">quasars</a>, galaxies -- anything that produces light -- will each have their own characteristic spectra. 
          </p>
          <p style="margin-top:10px;">
            If it is bright enough, the light from an object can illuminate gas that it passes through. The gas then leaves its <a href="">unique fingerprint</a> on the light that we measure. In principle, light from any object produces this effect, but in practice we are limited to using only the very brightest types of objects in the universe: Quasars and gamma-ray bursts (GRBs).
          </p>
          <p style="margin-top:10px;">
            In human time scales, the clouds don't move across the line of sight to objects. Instead, we derive statistical properties of clouds not by looking only at one sight-line, but as many as we can.
          </p>
        </div>
        <div id="svg-container" >
          <div id="sub-container" class="_2_grbspec">
          </div>
          <div id="sub-container" class="_2_qsospec">
          </div>
          <div id="sub-container" class="_2">
          </div>
        </div>
      </div>
    </div>
 


    <div class="panel col-sm-8">
     <button type="button" class="btn btn-info _3" data-toggle="collapse" data-target="#_3" data-parent="#accordion">
        <span class="number-header">3.</span> The measurements (surprsingly) seem to depend on how they are taken
     </button>
     <div id="_3" class="collapse" style="margin-top:20px;">
        <div class="collapse-text">
          <p style="margin-top: 50px">
            If we are only interested in the intervening gas, then in principle we don't care <i>what</i> is lighting it up -- only that the background source is bright enough to illuminate the gas.
          </p>
          <p style="margin-top:10px">
            However, observations show that the properties we derive about these gases seemingly do depend on the type of source that is observed. There seems to be many more MgII gas clouds when we look towards GRBs than when we look at quasars.
          </p>
          <p style="margin-top:10px">
            Since the detection and measurement of intervening gas is one of the backbones to the study of distant galaxies, we need to understand why we see two different pictures of these gases, depending on whether we look at GRB or quasars.
          </p>
        </div>

        <div id="svg-container">
          <div id="sub-container-vertical" class="_3_fig">
          </div>
          <div id="sub-container-vertical" class="_3">
          </div>
        </div>
     </div>
    </div>



    <div class="panel col-sm-8">
     <button type="button" class="btn btn-info _4" data-toggle="collapse" data-target="#_4" data-parent="#accordion">
        <span class="number-header">4.</span> So, what's the answer?
     </button>
      <div id="_4" class="collapse" style="margin-top:20px;">
        <div class="collapse-text">
          <p>
            The issue still isn't solved! 
          </p>
          <p style="margin-top:10px">
            From an observational point of view, we use different strategies when we observe GRBs and quasars. This is due to the fact that GRBs are transient, so we need to point the telescopes at them as quickly as possible. They become too faint after some hours for the type of observations necessary to detect intervening gases.
          </p>
          <p style="margin-top:10px">
            Quasars, on the other hand, aren't going anywhere on our time scales. Astronomers can therefore take their time observing them, which also means that we dedicate time to observing even faint ones. 
          </p>
          <p style="margin-top:10px">
            The solution to the question likely has to do with these observational differences -- it's likely the case that the universe isn't actually different depending on what you look at, but rather that the methods we use to observe it introduce some bias in what we see. Nevertheless, it is extremely important that we understand these types of biases completely, since we need to disentangle their effects from what the universe is actually showing us!
          </p>
          <p style="margin-top:10px">
            Feel free to check out my publications regarding this topic -- the papers are available from arxiv.org, an open source repository for scientific papers: <a href="http://arxiv.org/abs/0705.0706">One</a>, <a href="http://arxiv.org/abs/0904.3227">two</a>, and <a href="http://arxiv.org/abs/1302.6362">three</a>
          </p>
        </div>

        <div id="svg-container" class="_4">
        </div>
      </div>
    </div>
</div>

<div id="push"></div>


  {% endblock %}
