{% extends "base.html" %}
{% block content %}
<style>
  .hero-unit {
    width:250px;
    height:200px;
  }
</style>

<div class="span5 offset5">
  <div class="hero-unit">
  <h2>Parxiv</h2>
  <p>Visualization of astronomers as authors</p>
  <p>
  <a class="btn btn-primary btn-large" href="/projects/parxiv">
  View more
  </a>
  </p>
  </div>
</div>

<div class="span5">
  <div class="hero-unit">
  <h2>Intergalactic Magnesium</h2>
  <p>How the universe looks depends on how you look at it</p>
  <p>
  <a class="btn btn-primary btn-large" href="/projects/mgii">
  View more
  </a>
  </p>
  </div>
</div>

<!-- <div class="span5">
  <div class="hero-unit">
  <h2>Heading</h2>
  <p>Tagline</p>
  <p>
  <a class="btn btn-primary btn-large">
  View more
  </a>
  </p>
  </div>
</div> -->
{% endblock %}

