{% extends "base.html" %}
{% block content %}
<style>
  .container {
    margin-top: 2em;
  }
  .btn{
    font-size: 1.3em;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a class="btn btn-primary" href="/projects/parxiv">Parxiv</a>
        </div>
        <div class="panel-body">
          Visualization of astronomers as authors
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a class="btn btn-primary" href="/projects/mgii">Intergalactic Magnesium</a>
        </div>
        <div class="panel-body">
          Does the method with which we observe change the observation itself?
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a class="btn btn-primary" href="/projects/grond">GROND</a>
        </div>
        <div class="panel-body">
          The gamma-ray burst optical and near infrared detector @ LSO, Chile
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a class="btn btn-primary" href="/projects/solr-benchmarking">Benchmarking Solr for the ADS</a>
        </div>
        <div class="panel-body">
          Quantifying the performance of the ADS's implementation of Solr on AWS
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

